<template>
  <v-app dark>
    <v-app-bar
      fixed
      app
    >
      <v-layout row>
        <v-flex row xs6 class="text-left align-self-center pl-5">
          <router-link to="/">
            <v-avatar
              rounded
              size="32"
            >
              <v-img
                src="/icon.png"
                alt="Druck"
                width="32"
                height="32"
              />
            </v-avatar>
          </router-link>
          <v-toolbar-title class="pl-2">
            {{ title }}
          </v-toolbar-title>
        </v-flex>
        <v-flex xs6 class="text-right align-self-center">
          <v-btn
            v-if="!loggedIn"
            text
            ripple
            @click="openLoginDialog()"
          >
            Login
          </v-btn>
          <v-menu
            v-else
            right
            offset-y
          >
            <template #activator="{ on, attrs }">
              <v-btn
                class="ma-0"
                icon
                v-bind="attrs"
                v-on="on"
              >
                <v-avatar size="36px">
                  <img :src="userAvatar">
                </v-avatar>
              </v-btn>
            </template>
            <v-card class="no-padding" max-width="400px">
              <v-list three-line>
                <v-list-item>
                  <v-list-item-avatar>
                    <img :src="userAvatar">
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ loggedUser.first_name }} {{ loggedUser.last_name }}
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{ loggedUser.email }}
                    </v-list-item-subtitle>
                    <v-rating
                      v-model="loggedUser.rating"
                      background-color="blue lighten-3"
                      color="blue"
                      readonly
                    />
                  </v-list-item-content>
                </v-list-item>
              </v-list>
              <v-divider />
              <v-list two-line>
                <v-list-item @click.stop="rightDrawer = !rightDrawer">
                  <v-list-item-content>
                    <v-list-item-title>
                      Notificações
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item @click="logout()">
                  <v-list-item-content>
                    <v-list-item-title>Log out</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-menu>
        </v-flex>
      </v-layout>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item>
          <v-list-item-action>
            <v-icon light @click="right = !right">
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch side</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <LoginDialog ref="LoginDialog" />
    <BottomNav />
    <Toast />
  </v-app>
</template>

<script>
import api from '~api'

export default {
  data () {
    return {
      drawer: false,
      fixed: false,
      right: true,
      rightDrawer: false,
      title: 'Druck'
    }
  },
  computed: {
    loggedIn () {
      return this.$store.getters['auth/loggedIn']
    },
    loggedUser () {
      return this.$store.state.auth.currentUser
    },
    userAvatar () {
      return this.loggedUser.avatar || 'https://graph.facebook.com/4/picture?width=300&height=300'
    }
  },
  methods: {
    openLoginDialog () {
      this.$refs.LoginDialog.open()
    },
    async logout () {
      try {
        await api.auth.logout()
        this.$store.commit('auth/setCurrentUser', null)
        this.$store.commit('toast/open', {
          message: 'See ya!'
        })
        if (this.$route.name !== 'index') {
          this.$router.push({ name: 'index' })
        }
      } catch (err) {
        this.$store.commit('toast/open', {
          message: err,
          color: 'error'
        })
      }
    }
  }
}
</script>
