<template>
  <v-bottom-navigation
    :value="value"
    color="primary"
    app
  >
    <v-btn to="/">
      <span>Home</span>

      <v-icon>mdi-home-circle</v-icon>
    </v-btn>

    <v-btn to="/aparelhos">
      <span>Aparelhos</span>

      <v-icon>mdi-battery-plus-variant</v-icon>
    </v-btn>

    <v-btn to="/cronometro">
      <span>Cronômetro</span>

      <v-icon>mdi-timer</v-icon>
    </v-btn>
    <v-btn to="/vizinhanca">
      <span>Vizinhança</span>

      <v-icon>mdi-eye</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
const paths = {
  '/': 0,
  '/aparelhos': 1,
  '/cronometro': 2,
  '/vizinhanca': 3
}
export default {
  data () {
    return {
      value: paths[window.location.pathname]
    }
  }
}
</script>
