<template>
  <v-row justify="center">
    <v-dialog
      v-model="visible"
      persistent
      max-width="600px"
    >
      <v-form ref="form" @submit.prevent="adicionar">
        <v-card>
          <v-card-title>
            <span class="text-h5">Novo aparelho</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="item.tipo"
                    :items="tipos"
                    label="Tipo*"
                    :rules="[rules.required]"
                    autofocus
                    clearable
                  />
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="item.marca"
                    :items="marcas"
                    label="Marca"
                    :rules="[rules.required]"
                    clearable
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="item.modelo"
                    label="Modelo"
                    clearable
                  />
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="item.eficiencia"
                    :items="eficiencias"
                    label="Eficiência energética"
                    hint="Consta na etiqueta do Inmetro (Selo PROCEL) presente no aparelho"
                    persistent-hint
                    :rules="[rules.required]"
                  />
                </v-col>
                <v-col
                  cols="4"
                  sm="6"
                  md="4"
                >
                  <v-text-field
                    v-model="item.ano"
                    label="Ano de fabricação"
                    type="number"
                  />
                </v-col>
                <v-col
                  cols="4"
                  sm="6"
                  md="4"
                >
                  <v-select
                    v-model="item.consumo"
                    :items="['0-25', '25-50', '50-75', '75-100', '100-125', '125-150', '150-175', '175-200', '200-225', '225-250', '250-275', '275-300', '300-325', '325-350', '350-375', '375-400', '400 +']"
                    label="Consumo médio*"
                    hint="Consumo estimado em em KWh/mes"
                    :rules="[rules.required]"
                    persistent-hint
                  />
                </v-col>
                <v-col
                  cols="4"
                  sm="6"
                  md="4"
                >
                  <v-select
                    v-model="item.tomada"
                    :items="['Microondas', 'Geladeira', 'TV']"
                    label="Tomada"
                    hint="Caso o aparelho esteja ligado a tomada inteligente"
                    persistent-hint
                  />
                </v-col>
              </v-row>
            </v-container>
            <small>*campo obrigatório</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="blue darken-1"
              text
              @click="close()"
            >
              Cancelar
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              :disabled="loading"
              :loading="loading"
              type="submit"
              @click="adicionar()"
            >
              Adicionar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </v-row>
</template>

<script>
import api from '~api'
import rules from '~/helpers/rules.js'

export default {
  data () {
    return {
      rules,
      visible: false,
      loading: false,
      item: {
        tipo: '',
        marca: '',
        modelo: '',
        eficiencia: '',
        ano: '',
        consumo: ''
      },
      tipos: [],
      marcas: [],
      eficiencias: ['A (Mais eficiente)', 'B', 'C', 'D', 'E', 'F', 'G (Menos eficiente)', 'Indeterminado']
    }
  },
  watch: {
    'item.tipo': 'validateField'
  },
  mounted () {
    this.getTipos()
    this.getMarcas()
  },
  methods: {
    open () {
      this.visible = true
      this.clearItem()
    },
    close () {
      this.visible = false
      this.clearItem()
    },
    validateField () {
      this.$refs.form.validate()
    },
    async adicionar () {
      if (!this.$refs.form.validate()) {
        return
      }
      this.loading = true
      try {
        const res = await api.aparelhos.adcionaAparelho(this.item)
        const err = res.error || res.warning
        if (err) {
          this.$store.commit('toast/open', {
            message: err,
            color: res.error ? 'error' : 'warning'
          })
          return
        }
        if (res) {
          this.$store.commit('toast/open', {
            message: 'Aparelho cadastrado com sucesso !',
            color: 'blue'
          })
          this.visible = false
        }
      } catch (err) {
        this.$store.commit('toast/open', {
          message: err,
          color: 'error'
        })
      } finally {
        this.loading = false
      }
    },
    async getTipos () {
      this.loadingTipos = true
      try {
        const res = await api.aparelhos.getTiposAparelhos(this.newItem)
        const err = res.error || res.warning
        if (err) {
          this.$store.commit('toast/open', {
            message: err,
            color: res.error ? 'error' : 'warning'
          })
          return
        }
        this.tipos = res.map(e => e.name)
      } catch (err) {
        this.$store.commit('toast/open', {
          message: err,
          color: 'error'
        })
      } finally {
        this.loadingTipos = false
      }
    },
    async getMarcas () {
      this.loadingMarcas = true
      try {
        const res = await api.aparelhos.getMarcas(this.newItem)
        const err = res.error || res.warning
        if (err) {
          this.$store.commit('toast/open', {
            message: err,
            color: res.error ? 'error' : 'warning'
          })
          return
        }
        this.marcas = res.map(e => e.name)
      } catch (err) {
        this.$store.commit('toast/open', {
          message: err,
          color: 'error'
        })
      } finally {
        this.loadingMarcas = false
      }
    },
    clearItem () {
      this.item = {
        tipo: '',
        marca: '',
        modelo: '',
        eficiencia: '',
        ano: '',
        consumo: ''
      }
    }
  }
}
</script>
