<template>
  <v-container>
    <v-col class="text-center">
      <blockquote class="blockquote pl-0">
        &#8220;O que pode ser medido pode ser melhorado.&#8221;
        <footer>
          <small>
            <em>&mdash;Peter Drucker</em>
          </small>
        </footer>
      </blockquote>
    </v-col>
  </v-container>
</template>
