<template>
  <v-container fluid px-0>
    <v-card height="350px">
      <v-toolbar absolute elevation width="100%">
        <v-autocomplete
          v-model="filter"
          clearable
          hide-details
          prepend-icon=""
          return-object
          label="Insira o aparelho"
          single-line
          :items="items"
          item-value="id"
          :filter="filtroAparelho"
          @click:prepend="getAparelhosCadastrados()"
          @keyup.enter="getAparelhosCadastrados()"
        >
          <template slot="selection" slot-scope="{ item }">
            {{ getNomeAparelho(item) }}
          </template>
          <template slot="item" slot-scope="{ item }">
            <v-list-tile-content>
              {{ getNomeAparelho(item) }}
            </v-list-tile-content>
          </template>
        </v-autocomplete>
        <v-progress-circular
          v-if="loading"
          indeterminate
          :size="25"
          color="secondary"
        />
      </v-toolbar>
      <v-fab-transition>
        <v-btn
          v-show="!hidden"
          color="black"
          dark
          absolute
          bottom
          right
          fab
          @click="openCadastroAparelho()"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-card>
    <quote />
    <CadastroAparelho ref="CadastroAparelho" />
  </v-container>
</template>

<script>
import stringhelper from '../helpers/stringhelper'
import api from '~api'

export default {
  data () {
    return {
      filter: '',
      loading: false,
      items: [],
      hidden: false
    }
  },
  mounted () {
    this.getAparelhosCadastrados()
  },
  methods: {
    async getAparelhosCadastrados () {
      console.log('Fetching data...')
      this.loading = true
      try {
        const res = await api.aparelhos.getAparelhosCadastrados()
        const err = res.error || res.warning
        if (err) {
          this.$store.commit('toast/open', {
            message: err,
            color: res.error ? 'error' : 'warning'
          })
          return
        }
        this.items = res
      } catch (err) {
        this.$store.commit('toast/open', {
          message: err,
          color: 'error'
        })
      } finally {
        this.loading = false
      }
    },
    getNomeAparelho (item) {
      return `${item.tipo} ${item.marca} ${item.modelo} ${item.potencia}`
    },
    filtroAparelho (item, queryText) {
      return stringhelper.search(queryText.toLowerCase(), this.getNomeAparelho(item)) > 0
    },
    openCadastroAparelho () {
      this.$refs.CadastroAparelho.open()
    }
  }
}
</script>
