<template>
  <v-card
    max-width="400"
    class="mx-auto"
  >
    <v-container>
      <v-row dense>
        <v-col
          v-for="(item, i) in items"
          :key="i"
          cols="12"
        >
          <v-card
            :color="item.color"
            dark
          >
            <div class="d-flex flex-no-wrap justify-space-between">
              <div>
                <v-card-title class="text-h5" v-text="item.tipo" />

                <v-card-subtitle v-text="item.descricao" />

                <v-card-actions>
                  <v-btn x-small>
                    <v-icon>mdi-play</v-icon>
                  </v-btn>
                  <v-btn x-small>
                    <v-icon>mdi-pause</v-icon>
                  </v-btn>
                  <v-btn x-small>
                    <v-icon>mdi-stop</v-icon>
                  </v-btn>
                </v-card-actions>

                <v-slider
                  v-model="item.ex3.maxValue"
                  step="1"
                  label="Max(min)"
                  :thumb-color="item.ex3.color"
                  thumb-label
                />
              </div>

              <v-avatar class="ma-3" size="125" tile>
                <v-progress-circular
                  :rotate="360"
                  :size="100"
                  :width="15"
                  :value="item.ex3.interval"
                  color="teal"
                >
                  {{ item.ex3.interval }} s
                </v-progress-circular>
              </v-avatar>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  data: () => {
    return {
      items: [
        {
          color: '#1F7087',
          tipo: 'Microondas',
          descricao: 'Brastemp 300W X',
          ex3: { label: 'thumb-color', maxValue: 1, color: 'red', interval: 22 }
        },
        {
          color: '#952175',
          tipo: 'Liquidificador',
          descricao: 'Consul 200W Y',
          ex3: { label: 'thumb-color', maxValue: 104, color: 'red', interval: 12 }
        },
        {
          color: '#DAC000',
          tipo: 'Geladeira',
          descricao: 'Consul 600W Z',
          ex3: { label: 'thumb-color', maxValue: 78, color: 'red', interval: 43 }
        }
      ]
    }
  },
  beforeDestroy () {
    clearInterval(this.interval)
  },
  mounted () {
    this.items.forEach(e => {
      setInterval(() => {
        if (e.ex3.interval >= e.ex3.maxValue * 60) {
          return
        }
        e.ex3.interval += 1
      }, 1000)
    })
  }
}
</script>
