<template>
  <v-layout row>
    <v-container>
      <v-card
        class="mx-auto text-center"
        dark
        max-width="600"
      >
        <v-card-text>
          <v-sheet color="rgba(0, 0, 0, .12)">
            <v-sparkline
              :value="gasto"
              :gradient="gradient"
              :smooth="radius || false"
              :padding="padding"
              :line-width="width"
              :stroke-linecap="lineCap"
              :gradient-direction="gradientDirection"
              :fill="fill"
              :type="type"
              :auto-line-width="autoLineWidth"
              auto-draw
            >
              <template #label="item">
                {{ item.value }}/21
              </template>
            </v-sparkline>
          </v-sheet>
        </v-card-text>

        <v-card-text>
          <div class="text-h7 ">
            Gasto total (R$)
          </div>
        </v-card-text>

        <v-divider />

        <v-card-actions class="justify-center">
          <v-btn
            to="/vizinhanca"
            block
            text
          >
            Ver vizinhança
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-container />
      <v-card
        class="mx-auto text-center"
        dark
        max-width="600"
      >
        <v-card-text>
          <v-sheet color="rgba(0, 0, 0, .12)">
            <v-sparkline
              :value="consumo"
              :gradient="gradient"
              :smooth="radius || false"
              :padding="padding"
              :line-width="width"
              :stroke-linecap="lineCap"
              :gradient-direction="gradientDirection"
              :fill="fill"
              :type="type"
              :auto-line-width="autoLineWidth"
              auto-draw
            >
              <template #label="item">
                {{ item.value }}/21
              </template>
            </v-sparkline>
          </v-sheet>
        </v-card-text>

        <v-card-text>
          <div class="text-h7 ">
            Consumo total (KWh/mês)
          </div>
        </v-card-text>

        <v-divider />

        <v-card-actions class="justify-center">
          <v-btn
            to="/vizinhanca"
            block
            text
          >
            Ver vizinhança
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-container>
  </v-layout>
</template>

<script>
const gradients = [
  ['#222'],
  ['#42b3f4'],
  ['red', 'orange', 'yellow'],
  ['purple', 'violet'],
  ['#00c6ff', '#F0F', '#FF0'],
  ['#f72047', '#ffd200', '#1feaea']
]

export default {
  data () {
    return {
      width: 2,
      radius: 10,
      padding: 8,
      lineCap: 'round',
      gradient: gradients[5],
      value: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0],
      gradientDirection: 'top',
      gradients,
      fill: false,
      type: 'trend',
      autoLineWidth: false,
      gasto: [423, 446, 675, 510, 590, 610, 760],
      consumo: [413, 436, 645, 540, 580, 520, 780]
    }
  }
}
</script>
