<template>
  <v-layout column>
    <v-flex>
      <v-card
        height="150px"
      >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title class="text-h5 mb-1">
              Top 4%
            </v-list-item-title>
            <v-list-item-subtitle>Você está nos 4% mais econômicos e ganhou 5 druck stars pelo último mês</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-rating
          v-model="loggedUser.rating"
          background-color="blue lighten-3"
          color="blue"
          large
          readonly
        />
      </v-card>
    </v-flex>

    <v-flex>
      <v-container>
        <GChart
          type="ColumnChart"
          :data="chartData"
          :options="chartOptions"
        />
        <canvas id="myChart" height="300px" />
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>

export default {
  data () {
    return {
      chartData: [
        ['', '0-4', '5-33', '34-50', '51-67', '68-96', '97-100'],
        ['GrupoDruck', 26, 132, 336, 348, 133, 25]
      ],
      chartOptions: {
        chart: {
          title: 'Vizinhança',
          subtitle: 'Druck Stars'
        }
      },
      rating: 5
    }
  },
  computed: {
    loggedUser () {
      return this.$store.state.auth.currentUser
    }
  }
}
</script>
